*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --main-color:#a16e2c;
    --second-color: burlywood;
    --third-color: #ce954b;
    --font-color:white;
    
    --font-type: 'Courier New', Courier, monospace;
  }

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calcBody{
    width: 400px;
    height: 600px;
    background-color: var(--main-color);
    align-items: center;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.display{
    width: 80%;
    height: 25%;
    background-color:var(--main-color);
    color: var(--font-color);
    border-radius: 10px;
}

.numberEntered{
    width:100%;
    height:40%;
    white-space: nowrap;
    font-size: 1.5em;
    overflow-x: auto;
    display: grid;
    justify-content: end;
    align-items: center;
    font-family: var(--font-type);
}

.displayResult{
    width:100%;
    height:60%;
    font-size: 3em;
    padding-right: 30px;
    display: grid;
    justify-content: end;
    align-items: center;
    font-family: var(--font-type);
}

.buttons{
    width: 80%;
    height: 60%;
    background-color: var(--main-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
}

.calcButton{
    background-color:var(--second-color);
    color:black;
    border-radius: 6%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: bold;
    font-family: var(--font-type);
}
.calcButton:hover{
    background-color:var(--third-color);
}

.btnZero, .btnClear{
    grid-column: 1/span 2;
}
